*{
	margin:0;
	padding-left: 0;
	box-sizing: border-box;
}

/*media queries*/
@media only screen and (max-width: 400px){
	/*we can do our normal css here*/

	body {
		background-color: red;
	}
}

@media only screen and ((min-width: 401px) and (max-width: 800px){
	bosy{
		background-color: pink
	}
}

