.page {
	width: 100%;
}

.section {
	width: 100%
	height: 300px;
}

menu {
	background-color: 
}

.content {
	background-color: green;
	height: 600px;
}

.sign-up{
	background-color: orange;
}

.feature-1{
	background-color: yellow;
}

.feature-2{
	background-color: violet;
}

.feature-3{
	background-color: blue;
}

/*CSS Media Queries*/

/*Mobile*/
@media only screen and [max-]