* {
	padding; 0;
	margin: 0;
	}

.header1 {
	height: 100vh;
	display; flex;
	justify-content: center; /**//* same as align-items: */
	/*align-content: center;*/
	align-items: center;
}

.header > div {
	height: 100vh;
}

.section1 {
	background-image: url(https://timesofindia.indiatimes.com/thumb/msid-67586673,width-800,height-600,resizemode-4/67586673.jpg);
	height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: center;

}

.section1 > div {
	text-align: center;
}

.section2 {
	background: gray;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

.section2-div {
	height: 75vh;
	background: white;
	width: 20vw;
	text-align: center;
	display: flex;
	flex-direction: column;
/*	if flex-direction: is reversed (you used column)
	justify-content: center;
}*/

.fa-clock {
	font-size: 25px;
	margin-bottom: 25px;
	padding: 10px; /*circle effect*/
	background-color: gray;
	border-radius: 50%;
}

.btn-more{
	margin-top: 25px;
}