*{
	margin: 0;
	padding: 0;
}

.container {
	background-color: orange;
	height: 300px;
}

a {
	background-color: magenta;
}

h1 {
	background-color: pink;
}

.brown {
	font-size: 40px;
	color: brown;
	height: 100px;
}

.strong {
	font-size: 20px;
}

.btn {
	background-color: grey;
	color: white;
	/*padding: 10px 20px 10px 20px;*/
	padding: 10px 20px;
	border: 1px solid blue;
	border-radius: 5px;
	transition: 0.5s;
}

.btn:hover{
	padding: 20px;
}

