* {
	margin: 0;
	padding: 0;
}

/*vh means view height*/
.main-content{
	background: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
	background-size: cover;
	height: 100vh;  
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-content{
	background-color: grey;
	height: 100vh;
}

.btn{
	padding: 20px 40px;
	color: white;
	background-color: yellow;
	border-radius: 10px;

}

