/*h3 {
	color: blue;
}*/
/*
a {
	text-decoration: none;
}

a, li {
	color: pink;
}

#c3 {
	font-size: 50px;
}

*/
/*
ul > li > a{
	color: red;
}
*/

/*psuedo class is :____      */
/*li:first-child > a {
	color: red;
}

li:nth-child(2) > a {
	color: orange;
}

li:last-child > a {
	color: blue;
}
*/
/*pseudo class for links/anchor tag*/

/*affects the look of an unvisited link*/
/*a:link {
	font-size: 50px;*/
}

/*affects the look of a visited link*/

/*a:visited {
	color: blue;
}


hover effect
a:hover {
	color: green;
	font: 20px;
}*/

a {
	text-decoration: none;
	transition: 0.5s;
}

#lasth3 {
	color: yellow;
}



