
/*descendant selector---> Whitespace*/
ol li {
	font-size: 30px;
}

/*child selector---> greater than >  */
div > ul {
	color: red;
}

/*adjacent sibling selector ---> +   */
ul + ul {
	color: green;
}

/*general sibling selector---> ~ first element should be above the second element  */
h1 ~ ol {
	color: blue;
}