*{
	margin: 0px;
	}

.z{
	width: 400px;
	height: 400px;
	position: relative;
}

.blue{
	background-color: blue;
	/*z-index: 4;*/
	top: 0px;
	left: 0px;
	position: relative;

}

.red{
	background-color: red;
	top: -500px;
	left: 50px;
	/*z-index: 5;*/
	opacity: 0.5;
	position: relative;
}

.yellow{
	background-color: yellow;
	top: -150px;
	left: 11px;
	/*opacity: 1;*/
/*	z-index: -1986;*/
	position: relative;


}

